body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:645px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13997 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:280px;
  width:1060px;
  height:645px;
  display:flex;
}
#u13997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13998 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:746px;
  height:246px;
  display:flex;
}
#u13998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14000 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:15px;
  width:300px;
  height:246px;
  display:flex;
}
#u14000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u14001 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:34px;
  width:110px;
  height:26px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u14001 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14003 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:60px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u14004-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14004 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:60px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u14005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:201px;
}
#u14005 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:60px;
  width:300px;
  height:201px;
  display:flex;
}
#u14005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u14006 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:34px;
  width:132px;
  height:26px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u14006 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14006_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14007 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:111px;
  width:144px;
  height:28px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14007_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14008 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:111px;
  width:120px;
  height:28px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14008 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14008_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14009 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:111px;
  width:72px;
  height:28px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14009 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14009_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14010 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:174px;
  width:72px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14010 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14010_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14011 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:174px;
  width:54px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14011 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14011_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14012 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:174px;
  width:54px;
  height:37px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14012 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14012_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14013 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:44px;
  width:98px;
  height:16px;
  display:flex;
}
#u14013 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14013_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14015-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14015 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:43px;
  width:0px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u14016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14016 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:43px;
  width:154px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u14016 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14016_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u14019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:569px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
.u14019_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:569px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
.u14019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u14019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:569px;
  display:flex;
}
.u14019 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u14019_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:569px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u14019.disabled {
}
#u14018-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:569px;
}
#u14018 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:353px;
  width:718px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u14020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:572px;
}
#u14020 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:353px;
  width:1060px;
  height:572px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#333333;
  line-height:73px;
}
#u14020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u14021 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:305px;
  width:176px;
  height:26px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u14021 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
